/* Arquivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body{
  background-color: #F5F5F5;
  font-family: 'Kavivanar', cursive;
}

.logo{
  float: left;
  width: 230px;
  height:70px;
  margin-top:-30px;
  margin-left: -30px;
  background: url(../imagens/Logo-evenWEB.png) center center/230px no-repeat;
}

.cabecalho {
  width: 100%;
  height: 125px;
  float: left;
  padding: 3% 4%;
  margin-bottom: 5px;
  background-color: #E2F2FF;
}

/* MENU */
.nav_menu{
    display: none;
    top: 0%;
    left: 0%;
    width:auto;
    height: 40px;
    line-height: 20px;
    float:right;
    background-color: #E2F2FF;
    display: block !important;
    position: static;
    color: #000000;
    font-size: 18px;
}

 .nav_menu ul{
    width: 100%;
    float: left;
    text-align: center;
 }

 .nav_menu ul li{
    padding: 2%;
    float: left;
    position:relative;
    color: #0000df;
 }

 .nav_menu ul li a{
    color: #000000;
    font-size: 1em;
    padding:0%;
    margin-left: 1%
 }

 .nav_menu ul li  ul{
 position:absolute;
 top:30px;
 left:0;
 background-color:#FDFDFD;
 display:none;
 }

 .nav_menu ul li a:hover {
    border: none;
    color: #101010;
    text-shadow:0px 0px 5px #009186;
 }

 .nav_menu ul li ul li{
    display:block;
    margin-top: 4px;
    width:79px;
    height: 30px;
}
.nav_menu li:hover ul, .menu li.over ul{
    border-radius: 0.3vw;
    display:block;
}

.conteudoMenu{
    width: 25vw; /*unidade que visa associar o valor à largura da tela*/
    margin-left: auto; /*Duas linhas que centralizar um elemento*/
    margin-right: auto;
}
/* DESCRICAO EVEN */
#descricao_even{
  width: 80%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  margin-bottom: 10px;
  background-color: #F0F8FF;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#descricao_even p{
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

.destaque_span{
  color: #df0006; # VERMELHO
}

/* PORTIFOLIO */

#portifolio{
  margin-bottom: 10px;
  background-color: #F0F8FF;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
  "titulo titulo titulo"
  "esquerda centro direita"
  "vazio vazio vazio";
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: 45px 1fr 10px;
}

.titulo_portifolio{
  grid-area: titulo;
  text-align: center;
  font-size: 28px;
  width: 100%;
  background-color: #E2F2FF;
}

.itens_esquerda{
  grid-area: esquerda;
  width: 430px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.itens_centro{
  grid-area: centro;
  width: 430px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.itens_direita{
  grid-area: direita;
  width: 430px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.item{
    width: 430px;
    height: 540px;
    margin-top: 10px;
    background-color: #E2F2FF;
    border-radius: 3px;
    display: grid;
    grid-template-areas:
    "tituloItem"
    "imagem"
    "texto"
    "link";
    grid-auto-columns: 1fr;
    grid-auto-rows: 30px 1fr 1fr 25px;
}

.item h2{
  grid-area: tituloItem;
  margin-left: 15px;
  font-size: 22px;
}

.item img{
  grid-area: imagem;
  width: 400px;
  height:360px;
  margin-left: 15px;
  border-radius: 5px;
}

.item p{
  grid-area: texto;
  text-align: justify;
  margin-left: 15px;
  width: 400px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.item a{
  grid-area: link;
}

.link_itens{
  text-align: center;
}

/* PAGINA DE PORTIFOLIO */
.portifolio_even{
  margin-bottom: 10px;
  background-color: #F0F8FF;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
  "titulo"
  "top"
  "imagensport"
  "videosport";
  grid-auto-columns: 1fr;
  grid-auto-rows: 45px 360px 1fr 600px;
}

.tituloajuste{
  width: 99.12%;
}

.topo{
  grid-area: top;
  width: 1536px;
  display: grid;
  grid-template-areas:
  "textotopo imagemtopo";
  grid-auto-columns: 1000px 1fr;
  margin-bottom: 20px;
}

.texto_topo{
  grid-area: textotopo;
  margin-left: 40px;
  text-align: justify;
  font-size: 18px;
}

.imagem_do_topo{
  margin-left: 40px;
  grid-area: imagemtopo;
  width: 400px;
  height: 300px;
}

.imagens{
  grid-area: imagensport;
  display: grid;
  grid-template-areas:
  "titutofotos titutofotos"
  "imgesquerda imgdireita";
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 45px 1fr;
}

.imagens h2{
  grid-area: titutofotos;
  width: 99.12%;
  text-align: center;
  font-size: 28px;
  background-color: #E2F2FF;
}

.imagens_esquerda{
  grid-area: imgesquerda;
  margin-left: auto;
  margin-right: auto;
}

.imagens_direita{
  grid-area: imgdireita;
}

.imagens_esquerda img, .imagens_direita img{
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-top: 20px;
}

.videos{
  grid-area: videosport;
  display: grid;
  grid-template-areas:
  "titutovideo"
  "video";
  grid-auto-rows: 45px 1fr;
}

.videos h2{
  grid-area: titutovideo;
  width: 99.12%;
  text-align: center;
  font-size: 28px;
  background-color: #E2F2FF;
}

/* SLIDER DE VIDEOS */
.slider .link_itens{
  width: 100%;
  float: right;
}
.slider {
    grid-area: video;
    display: block;
    height: 600px;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider iframe{
    margin: auto;
    height: 500px;
    width: 800px;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #FFF;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li:nth-child(4) label {
    left: 100px;
}

.slider li:nth-child(5) label {
    left: 130px;
}

.slider iframe {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ iframe {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* PAGINA DE GALERIA */
.galeria_even{
  margin-bottom: 10px;
  background-color: #F0F8FF;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
  "imagensport"
  "videosport";
  grid-auto-columns: 1fr;
  grid-auto-rows:1fr 600px;
}
.galeria_even .imagens h2{

}
.galeria_even .imagens h2, .galeria_even .videos h2{
  width: 100%;
}

/* FOOTER */
/* RODAPE */

.rodape{
    width: 100%;
    text-align: center;
    padding: 2% 3%;
    background: #E2F2FF;
    display: grid;
    grid-template-areas:
    "twitter instagram facebook"
    "copyright copyright copyright";
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px 50px;
}

.twitter{
  grid-area: twitter;
  height: 70px;
  text-align: right;
}

.instagram{
  grid-area: instagram;
  height: 70px;
}

.facebook{
  grid-area: facebook;
  height: 70px;
  text-align: left;
}

#twitter{
  width: 45px;
  height: 40px;
  margin-top: 15px;
}

#instagram{
  width: 68px;
  height: 68px;
  margin: auto;
}

#facebook{
  width: 55px;
  height: 55px;
  margin-top: 8px;
}

#span_twitter{
  position: relative;
  top: -25%;
  transform: translateY(-50%);
}

#span_instagram{
  position: relative;
  top: -43%;
  transform: translateY(-50%);
}

#span_facebook{
  position: relative;
  top: -36%;
  transform: translateY(-50%);
}

.descri_copyright{
  grid-area: copyright;
  position: center;
}
